name: Build
on:
  pull_request:
    branches:
      - master
  workflow_dispatch:
  workflow_call:
    inputs:
      new-version:
        required: false
        type: string
    outputs:
      run-id:
        value: ${{ github.run_id }}

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    name: Generate Version Matrix

    outputs:
      matrix: ${{ steps.versions.outputs.matrix }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
      - name: Get Versions
        id: versions
        run: |
          echo "matrix=$(jq -c '.versions' versions/versions.json5)" >> $GITHUB_OUTPUT

  build:
    needs: generate-matrix
    runs-on: ubuntu-latest
    name: Build

    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJSON(needs.generate-matrix.outputs.matrix) }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: "25"
          distribution: "temurin"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Ensure gradlew is executable
        run: |
          chmod +x ./gradlew
      - name: Change Mod Version for Gradle
        if: ${{ inputs.new-version }}
        run: |
          sed -i 's/^mod.version=.*/mod.version=${{ inputs.new-version }}/' gradle.properties
      - name: Setup project version
        run: |
          echo "${{ matrix.target }}" | cut -d':' -f1 > ./versions/current
          ./gradlew "Refresh active project"
      - name: Build ${{ matrix.target }}
        run: |
          ./gradlew buildAndCollectActive --stacktrace
        env:
          CI_SINGLE_BUILD: ${{ matrix.target }}
      - name: Create Artifact Name
        run: |
          orig="${{ matrix.target }}"
          echo "ARTIFACT=${orig%%:*}" >> $GITHUB_ENV
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          path: build/finalJars/*.jar
          name: ${{ env.ARTIFACT }}