name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: "Release version (i.e. v0.1.2)"
      message:
        required: true
        description: "Release description (i.e. Magical update)"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "microsoft"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Cache Loom project cache
        uses: actions/cache@v4
        with:
          key: "loom-${{ runner.os }}-${{ hashFiles('**/*.gradle*', 'gradle/libs.versions.toml') }}"
          path: ".gradle/loom-cache"
      - name: Ensure gradlew is executable
        run: chmod +x ./gradlew
      - name: Build
        run: ./gradlew build
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          path: build/libs/*.jar

  release:
    runs-on: ubuntu-latest
    permissions: write-all
    needs: build
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup GPG key
        run: |
          echo $GPG_PRIVATE_KEY | base64 --decode | gpg --batch --import
          echo "allow-loopback-pinentry" >> ~/.gnupg/gpg-agent.conf
          echo "use-agent" >> ~/.gnupg/gpg.conf
          echo '#!/bin/bash' >> /tmp/gpg.sh
          echo 'gpg --batch --pinentry-mode=loopback --passphrase $GPG_PASSPHRASE $@' >> /tmp/gpg.sh
          chmod +x /tmp/gpg.sh
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Create Git Tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.signingkey $GPG_KEY_ID
          git config gpg.program /tmp/gpg.sh
          git tag -a ${{ inputs.version }} -m "${{ inputs.message }}" -s
        env:
          GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
          GPG_PASSPHRASE: ${{ secrets.GPG_KEY_PASSPHRASE }}
      - name: Generate Changelog
        uses: orhun/git-cliff-action@v4
        with:
          args: --output CHANGELOG.md
      - name: Commit Changelog
        run: |
          git add CHANGELOG.md
          git commit -m "chore(release): update changelog for ${{ inputs.version }}" -S -s || echo "no changes"
          git push origin master
      - name: Recreate Git Tag and Push
        run: |
          git tag -d ${{ inputs.version }}
          git tag -a ${{ inputs.version }} -m "${{ inputs.message }}" -S -s
          git push origin ${{ inputs.version }}
      - name: Generate latest release notes
        uses: orhun/git-cliff-action@v4
        id: cliff-latest
        with:
          args: --latest
          config: "cliff-release.toml"
      - name: Download Artifacts
        uses: actions/download-artifact@v5
        with:
          path: build/libs/.
      - name: Create Github Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.version }}
          name: "Release ${{ inputs.version }}"
          body: ${{ steps.cliff-latest.outputs.content }}
          files: build/libs/*.jar