name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: "Release version (i.e. 0.1.2)"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: "25"
          distribution: "temurin"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Ensure gradlew is executable
        run: chmod +x ./gradlew
      - name: Build
        run: ./gradlew build -P"mod.version"=${{ inputs.version }}
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: versions/**/build/libs/*.jar

  release:
    runs-on: ubuntu-latest
    permissions: write-all
    needs: build
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup GPG key
        run: |
          echo $GPG_PRIVATE_KEY | base64 --decode | gpg --batch --import
          echo "allow-loopback-pinentry" >> ~/.gnupg/gpg-agent.conf
          echo "use-agent" >> ~/.gnupg/gpg.conf
          echo '#!/bin/bash' >> /tmp/gpg.sh
          echo 'gpg --batch --pinentry-mode=loopback --passphrase $GPG_PASSPHRASE $@' >> /tmp/gpg.sh
          chmod +x /tmp/gpg.sh
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Create Git Tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.signingkey $GPG_KEY_ID
          git config gpg.program /tmp/gpg.sh
          git tag -a v${{ inputs.version }} -m "" -s
        env:
          GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
          GPG_PASSPHRASE: ${{ secrets.GPG_KEY_PASSPHRASE }}
      - name: Generate Changelog
        uses: orhun/git-cliff-action@v4
        with:
          args: --output CHANGELOG.md
      - name: Version Change for Gradle
        run: |
          sed -i 's/^mod.version=.*/mod.version=${{ inputs.version }}/' gradle.properties
      - name: Commit Changelog and gradle.properties
        run: |
          git add CHANGELOG.md
          git add gradle.properties
          git commit -m "chore(release): bumped version to v${{ inputs.version }}" -S -s || echo "no changes"
      - name: Recreate Git Tag and Push
        run: |
          git tag -d v${{ inputs.version }}
          git tag -a v${{ inputs.version }} -m "" -s
          git push origin v${{ inputs.version }}
      - name: Generate latest release notes
        uses: orhun/git-cliff-action@v4
        id: cliff-latest
        with:
          args: --latest
          config: "cliff-release.toml"
      - name: Download Artifacts
        uses: actions/download-artifact@v5
        with:
          path: build/libs/.
      - name: Create Github Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "v${{ inputs.version }}"
          name: "v${{ inputs.version }}"
          body: ${{ steps.cliff-latest.outputs.content }}
          files: build/libs/*.jar
